<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock><p>False</p></ng-template>

<hr />

<p *ngIf="conditionClick">True</p>
<p *ngIf="!conditionClick">False</p>

<button (click)="switch()">Switch</button>

<hr />

<ul>
  <li *ngFor="let item of list; let i = index" (click)="removefromList(i)">
    [{{ i }}] - {{ item.name }} tem {{ item.age }} anos.
  </li>
</ul>

<input type="text" [(ngModel)]="listItem.name" />
<input type="number" [(ngModel)]="listItem.age" />

<button (click)="addToList(listItem)">Add to List</button>

<hr />

<input type="text" [(ngModel)]="switchConditional" />

<div [ngSwitch]="switchConditional">
  <p *ngSwitchCase="1">it is 1</p>
  <p *ngSwitchCase="2">it is 2</p>
  <p *ngSwitchDefault>it is another thing</p>
</div>
